/* .Explore{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid;
} */

.Explore{

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 2rem 2rem;
    border-bottom: 1px solid;
}

.Inputbox{
  height: 2.5rem;
  width: 20rem;
}

.Exploree{
    display: flex;
    justify-content: center;
    position: relative;
    left: 300px;
    
}