.Messages{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid;
}

.Messagesbox{
    display: flex;
    justify-content: center;
    position: relative;
    left: 30rem;
}

.InputBox1{
    height: 3rem;
    width: 20rem;
}